.loginRegister{
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  top: -215px;
  left: 10px;
}

.loginRegister form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width:  50%;
  padding: 40px 20px;
  background: #ffffff;
  position: absolute;
  border-radius: 20px;
}

.titulo{
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #060047;
}

.input{
  width: 90%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background: #f2f2f2;
  font-size: 16px;
  outline: none;
  border-radius: 20px;
}

.input:focus{
  border: 2px solid #060047;
}

.boton{
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background: #060047;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border-radius: 20px;
  transition: all 500ms ease;
}

.boton:hover{
  background: #ffffff;
  color: #060047;
  border: 2px solid #060047;
}

.formularioRegister{
  position: absolute;
  right: 20px;
}

.span{
  font-size: 1rem;
  color: rgb(152, 0, 0);
  margin-top: 1rem;
}

.botonShow{
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
  right: 8px;
  bottom: 135px;
}


.imgShow{
  width: 1.5rem;
}