.container {
  width: 20%;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 1.5rem;
  transform-style: preserve-3d;
  transition: all 1s ease;
  margin-top: 2rem;
}

.imagen {
  width: 100%;
  height: 20rem;
  border-radius: 20px;
  transition: all 500ms;
  cursor: pointer;
}

.imagen:hover{
  transform: scale(1.02);
}

.tarjetaFront {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.botonCierre{
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 50%;
  padding: 2px 4px;
  color: #0ed575;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  border: none;
  background-color: #060047;
  cursor: pointer;
}

.botonCierre:hover{
  background-color: red;
  color: black;
}

.tarjetaBack {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #060047;
  border-radius: 20px;
  cursor: pointer;
}


.tarjetaBack h2{
  color: #ffffff;
  font-size: 1.3rem;
  margin: 1rem 0;
  padding: 0 10px;
  text-align: center;
}

.botonVerMas{
  position: absolute;
  bottom: 2rem;
  left: 7rem;
  color: #0ed575;
  background-color: #060047;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: .5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.botonVerMas:hover{
  border: 2px solid #0ed575;
  border-radius: 20px;
}

.containerSpan{
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  z-index: 6;
}

.imagen:hover.span{
  transform: scale(1.02);
}

.span{
  font-size: 1.1rem;
  color: #060047;
  font-weight: bold;
}

.btnFavFront {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  z-index: 6;
  cursor: pointer;
}

.btnFavBack {
  position: absolute;
  top: 1.3rem;
  left: 1.3rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  z-index: 6;
  cursor: pointer;
}
