.botonInicio{
  width: 16rem;
  height: 3rem;
  border: none;
  border-radius: 20px;
  font-size: 1.5rem;
  color: #0ed575;
  font-weight: bold;
  background-color: transparent;
  margin-left: 2rem;
  cursor: pointer;
  transition: all 500ms ease;
}

.botonInicio:hover{
  border: 2px solid #0ed575;
  color: #0ed575;
  background: #060047;
}

