.container{
  margin: 6.25rem 3rem;
  color: #060047;
  transition: all 500ms;
  z-index: 10;
}

.parrafo, .boton{
  margin-top: 30px;
}

.titulo{
  font-weight: 400;
  font-size: 26px;
}

.boton{
  padding: 10px 40px;
  border: 2px solid #060047;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #060047;
  outline: none;
  border-radius: 20px;
  transition: all 500ms;
}

.boton:hover{
  background-color: #060047;
  color: #ffffff;
}

.imgInicio{
  position: absolute;
  width: 8.5rem;
  top: 0px;
  left: -20px;
}

.imgRegister{
  position: absolute;
  width: 11rem;
  bottom: 0px;
  right: 0px;
}